<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1> <%= pageTitle %> </h1>

        <% if (prods.length > 0) { %>

            <% for (let product of prods) { %>
                <h4 class="product__title"><%= product.title %> | price: $19.19</h4>           
            <% } %>
            <hr>
            <h4>Total: $191.00</h4>

        <% } else { %>   
            <h4>No Orders!</h4>
        <% } %>    
    </main>
    

<%- include('../includes/end.ejs') %>